# WordPress
WORDPRESS_DEBUG=[int: 0 or 1]

# Database
DB_ROOT_PASS=[string: your-db-root-password]
DB_USER=[string: your-db-username]
DB_PASS=[string: your-db-password]
DB_NAME=[string: your-db-name]
DB_PORT=[int: any open port on your local machine]

# Overall
SERVICE_GROUP=[string: unique-string-for-docker-container-name-grouping]

# Webserver
LOCAL_DOMAIN=[string: local-url-seen-in-etc-hosts]
